body {
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

.mainbox {
    width: 90%;
    height: 600px;
    margin: auto;
    background-color: white;
    /* box-shadow: 0px 0px 15px grey; */
   


}

.leftcontainer {
    width: 30%;
    height: 100vh;
    background-color: #f2f3f7;
    padding-top: 30px;
    /* text-align: center; */
    background-attachment: fixed;
    position: fixed;
    float: left;
    box-shadow: 1px 1px 10px #f29837;
}

.leftcontainer .cardwrapper {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-image: url(20171210_134505.jpg);
    background-size: cover;
    margin: auto;

}

.leftcontainer ul {
    list-style: none;
}

.leftcontainer ul li {
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 105px;
    transition: .6s;
}




.icon{
    width: 30px;
    height: 14px;
   
   
}

.leftcontainer ul li a {
    text-decoration: none;
    color:black;
    letter-spacing: .3px;
    font-weight: normal;
    transition: 0.6s;
    position: absolute;
    padding-left: 2px;

    

}
.leftcontainer h2 {
    text-align: center;
    text-transform: uppercase;
    color:black;
    /* color: rgb(255 152 55); */
    font-weight: 600;
    letter-spacing: .5px;
    font-family: "Quicksand, Arial, sans-serif";
    font-size: 22px;

}



.leftcontainer ul li:hover a{
    /* color:#2d98f0; */
    color: #2c98f1;
   
   
}
.leftcontainer ul li:hover{
    color: #2c98f1;
}

.leftcontainer ul li  a::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: 30px;
    left: 40px;
    transition: 0.6s ;
}



.leftcontainer ul li  a:hover::before {
   
    width: 100%;
    height: 1px;
    background-color:#2d98f0 ;
    left: 0;
  
    
}
.fas .far{
   
    font-size: 2em;
  
}


.rightcontainer {
    width: 70%;
    /* height: 100vh; */
    margin: 0;
    float: left;
    margin-left: 30%;


}

.rightcontainer .img {
    width: 85%;
    height: 100vh;
    background-image: url(IMG_20140627_122452.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    margin-left: 40px;

}

.rightcontainer h1 {
    padding-top: 20%;
    text-align: left;
    color: #144fad;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.3;
    font-family: "Quicksand, Arial, sans-serif";
}

.rightcontainer .btn {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 15px;
   text-transform: capitalize;
    color: #144fad;
    border-radius: 10px;
    background-color: transparent;

}

.rightcontainer .aboutme {

    width: 84%;
    height: 100vh;
    margin: auto;
    padding: 3% 2% 0% 5%;




}



h2 {
    text-align: center;
    text-transform: uppercase;
    /* color: #999999; */
    color: rgb(255 152 55);
    font-weight: 600;
    letter-spacing: .5px;
    font-family: "Quicksand, Arial, sans-serif";
    font-size: 25px;

}

.rightcontainer .aboutme p {
    padding-top: 2%;
    text-align: left;
    letter-spacing: .2px;
    color: black;
    line-height: 1.5;
    font-size: 20px;

}

.rightcontainer .skills {
    /* width: 84%; */
    height: 100vh;
    margin: auto;
    position: absolute;
    padding: 3% 5% 0% 5%;

}

.rightcontainer .skills .card {
    width: 80%;
    margin: auto;
    padding-left: 20px;
}

h3 {
    font-size: 20px;
    font-family: "Quicksand", Arial, sans-serif;
    margin-bottom: 10px;

}

.progress {
    height: 10px;
    width: 100%;
    padding: 5px;
    margin: auto;
    background-color: gray;
    border-radius: 10px;


}

.progress .color1 {
   
   
    width: 75%;
    height: 10px;
    border-radius: 10px;
    background-color: blue;
    /* transform: scale(0);
    transition: 1s; */
}

.progress span {
    margin-left: 101%;
    color: white;
   
}

.progress .color2 {
    width: 85%;
    height: 10px;
    border-radius: 10px;
    background: #f9bf3f;
   

}



.progress .color3 {
    width: 85%;
    height: 10px;
    border-radius: 10px;
    background: #a84cb8;
   
}



.progress .color4 {
    width: 75%;
    height: 10px;
    border-radius: 10px;
    background: #ec5453;
   

}


.progress .color5 {
    width: 70%;
    height: 10px;
    border-radius: 10px;
    background: #2fa499;
  

}






.rightcontainer .education {
    width: 95%;
    height: 100vh;
    margin: auto;
    padding: 3% 5% 0% 2%;
    margin-top: 23%;


}


.rightcontainer .education .contentbox {
    
    width: 100%;
    height: 55px;
    margin: auto;
    background-color: #f2f3f7;
    border: 1px solid #e6e6e6;
    color: #333333;
    text-transform: uppercase;
   margin-bottom: 55px;
  
    text-align: center;
    position: relative;
    visibility:visible;
  
}
.rightcontainer .education .contentbox .content{
    
   
    width: 100%;
    height: 110px;
    margin: auto;
    /* background-color: #f2f3f7; */
    border: 1px solid #e6e6e6;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    visibility: hidden;
    margin-bottom: 20px;
    

}
.rightcontainer .education .contentbox:hover {
   background-color: #2d98f0;
   color: white;
   margin-bottom: 120px;
    /* visibility: collapse; */
    /* visibility: hidden; */
}

.rightcontainer .education .contentbox:hover .content{
   
    visibility: visible;
   
}


.rightcontainer .work {
    width: 95%;
    height: 100vh;
    margin-bottom: 5%;
    margin: auto;
    padding: 3% 5% 0% 2%;



}

.rightcontainer .work .cardwrap {
    width: 100%;
    margin-bottom: 5%;
    /* margin-left: 20px;
margin-right: 10px; */
    float: left;

}

.rightcontainer .work .cardwrap a {
    text-decoration: none;
}

.rightcontainer .work .cardwrap .img2 {
    width: 340px;
    height: 230px;
    margin-left: 30px;
   
    margin-bottom: 30px;
    float: left;
    
}
.cardwrap img{
    width: 340px;
    height: 230px;
  
   
   
    float: left;
}

.img2-wrap{
    width: 340px;
    height: 0px;
    position: absolute;
    background-color:#33333354;
   transition: .5s;
   text-align: center;
   
}
.img2:hover .img2-wrap {
   
    height: 230px;
        
}


.rightcontainer .contact {
    width: 95%;
    height: 100vh;
    margin: auto;
    padding: 3% 5% 0% 2%;


}

.mainbox .rightcontainer .contact .leftbox {
    width: 53%;
    height: 100vh;

    float: left;


}

.mainbox .rightcontainer .contact .leftbox .cardbox {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;


}

.rightcontainer .contact .leftbox .boximg {
    width: 100px;
    height: 70px;
    float: left;
    /* background-color: #f2f3f7; */
    padding-top: 20px;
}

.rightcontainer .contact .leftbox .boximg .img1 {
    width: 50px;
    height: 57px;
    padding-left: 23px;

    padding: 25px;

}


.rightcontainer .contact .leftbox .text {
    width: 60%;
    padding-top: 20px;
    float: left;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
}






.rightcontainer .contact .leftbox .text a {
    text-decoration: none;
    color: #2c98f0;
}

.rightcontainer .contact .rightbox {
    width: 42%;
    height: 100%;
    margin-left: 5%;
    float: left;


}

.rightcontainer .contact .rightbox .text {
    height: 54px;
    margin: auto;
    width: 97%;
    background-color: #f2f3f7;
    margin-bottom: 15px;
    padding-left: 10px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

.text1 {
    height: 120px;
    width: 97%;
    background-color: #f2f3f7;
    margin-bottom: 15px;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}

.rightcontainer .contact .rightbox .btn {
    background: #2c98f0;
    color: #fff;
    border: none;
    box-shadow: -6px -4px #3f3f59;
    border-radius: 5px;
    transition: 1s;
}
.rightcontainer .contact .rightbox .btn:hover{
   
    background-color: white ;
    color: blue;
    border: 1px solid #3333334a;
   

}